#motion {
  background-image: url(/static/img/motion.gif);
  padding-bottom: 57% ;
  /* % of width, defines aspect ratio*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container::before {
  content: "";
  margin-bottom: 5%;
}
@media all and (max-device-width: 600px) {
  .container::before {
    content: "";
    margin-bottom: 10%;
  }
}
html,
body,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
